* { 
box-sizing: border-box; 
font-family: 'Cormorant SC', serif;
} 
html { 
font-size: 62.5%;
} 
body { 
    margin: 0; 
    padding: 0; 
    }
    
    
    
header { 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    background-color: lightgrey; 
    border: 10px solid black; 
    color: black; 
    font-size: 16px;
} 
nav a { 
text-decoration: none; 
padding: 10px; 
color: black; 


}


.flexbox-container { 
    display: flex;
justify-content: space-around;
}
.flexbox-item { 
width: 200px; 
margin: 10px 
border: 3px solid #333;  
background-color #dfdfdf 


.flexbox-item-1 { 
    min-height: 100px;
}
.flex-box-item-2 { 
    min-height: 100px;
} 
.flexbox-item-3 { 
    min-height: 200px; 
}

box-sizing: border-box; 
margin: 0; 
padding: 0;
background-color: lightgrey;
 

